src/main/mule/say-hello-mule4-docker.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="say-hello-mule4-dockerFlow" doc:id="fab55560-f415-48f6-8e30-c882ba1b0dcc" >
		<http:listener doc:name="Listener" doc:id="3ab073c8-341c-4c85-b3a0-e75b38778384" config-ref="HTTP_Listener_Configuration" path="hello" allowedMethods="POST"/>
		<set-payload value="#['Hello from Mule ESB (Version: ' ++ mule.version ++ '). This container is healthy.']" doc:name="Set Payload" doc:id="b6c04ee9-6b59-46ce-8b79-1a20b63851f8" mimeType="text/plain"/>
	</flow>
</mule>
