src/main/app/say-hello-mule3-docker.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.springframework.org/schema/beans" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config"   host="0.0.0.0" port="8081" />
	<flow name="say-hello-mule3-dockerFlow"  >
        <http:listener config-ref="HTTP_Listener_config" path="/hello" doc:name="HTTP"/>
		<set-payload value="#['Hello from Mule ESB (Version: ' + mule.version + '). This container is healthy.']" doc:name="Set Payload"  mimeType="text/plain"/>
	</flow>
	<flow name="upload-file-Flow">
        <http:listener config-ref="HTTP_Listener_config" path="/upload" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="Attachment received: #[message.inboundAttachments]" level="INFO" doc:name="Log attachment"/>
        <set-payload value="#[message.inboundAttachments.data]" doc:name="Set Payload to Attachment"/>
        <file:outbound-endpoint path="#[message.inboundProperties.topath]" outputPattern="#[message.inboundProperties.name]" responseTimeout="10000" doc:name="Insert file on path"/>
    </flow>
</mule>
